.card {
    width: 500px !important; 
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
}

.registrar {
    padding-top: 40px;
    padding-bottom: 20px;
    
}
.registro label {
    flex: 1; 
    text-align: left; 
    margin-right: 10px;
    
}
.fila {
    display: flex;
    justify-content: flex-start;
}
.fila .registro {
    flex: 1; 
    display: flex;
    margin-right: 20px;
    
}
.fila .registro:last-child {
    margin-right: 0; 
}
.fila .registro input {
    flex: 1; 
}



body{
    background: url("../imagenes/login.webp") no-repeat center center fixed;
    background-size: cover; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
h1{
    text-align: center;
    color: rgb(15, 11, 16);    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="email"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 10px;
    border-radius: 12px;
}
button{
    background-color: rgb(208, 172, 208);
    width: 100%;
    padding: 10px;
    color: rgb(95, 48, 106);
    border: 20px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background-color: rgb(219, 128, 239);
}

.card{
    width: 300px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
}

.card-body{
    padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

body{
    background: url("../imagenes/login.webp") no-repeat center center fixed;
    background-size: cover; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

h1{
    text-align: center;
    color: rgb(15, 11, 16);    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: calc(50% - 10px); /* Divide el ancho en dos columnas */
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

label {
    width: 100%;
    display: block; /* Asegura que las etiquetas estén en una línea separada */
     
    
}

.img-perfil {
    text-align: center;
}

.img-perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Para hacerla circular */
    margin-bottom: 10px; /* Separación inferior del contenedor */
    
}

.subir-imagen {
    cursor: pointer;
    border: none;
    background-color: #db9df0;
    padding: 10px;
    border-radius: 15px;
    display: block;
    color:#0e0610;
    margin-top: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn-enviar button {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Separación superior del botón */
    background-color: rgb(208, 172, 208);
    color: rgb(95, 48, 106);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.btn-enviar button:hover {
    background-color: rgb(219, 128, 239);
}

.login {
    text-align: center;
    margin-top: 20px; /* Separación superior del elemento */
    padding:0 10px;
}

.login label {
    font-weight: bold; /* Negrita */
    text-decoration: underline; /* Subrayado */
}

#input-img{
    display: none;
}
